Repository lkmill/selektr: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

commit yarn.lock
  .gitignore
  yarn.lock
Due: none

convert to type module
  package.json
  rollup.config.js
  rollup.config.minify.js
  src/index.js
Due: eslint --fix, prettier --write

upgrade descendants
  package.json
  yarn.lock
Due: prettier --write

v0.3.0
  package.json
Due: prettier --write

prefix paths with ./
  package.json
Due: prettier --write

v0.3.1
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,json})
